{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}
{% block home %}
	<li class="nav-item active">
		<a class="nav-link" href="#">Home
			<span class="sr-only">(current)</span>
		</a>
	</li>
{% endblock %}
{% block navone %}
	<li class="nav-item">
		<a class="nav-link" href="{{path('app_login')}}">
			<span class="fa fa-sign-in"></span>
			Login</a>
	</li>
{% endblock %}
{% block navtwo %}
	<li class="nav-item">
		<a class="nav-link" href="{{path('app_teacher_login')}}">Teacher</a>
	</li>
{% endblock %}
{% block body %}
	<header class="edica-header edica-landing-header">
		<div class="container">
			<div class="edica-landing-header-content">
				<div id="edicaLandingHeaderCarousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#edicaLandingHeaderCarousel" data-slide-to="0" class="active">.01</li>
						<li data-target="#edicaLandingHeaderCarousel" data-slide-to="1">.02</li>
						<li data-target="#edicaLandingHeaderCarousel" data-slide-to="2">.03</li>
					</ol>
					<div class="carousel-inner" role="listbox">
						<div class="carousel-item active">
							<div class="row">
								<div class="col-md-6 carousel-content-wrapper">
									<h1>Project Managment System</h1>
									<p>A Project Managment System That Automates the Project Allocation to Student.</p>
									<div class="carousel-content-btns">
										<a href="#!" class="btn btn-success">
											<i class="fas fa-info mr-2"></i>
											Get Started</a>
										<a href="{{path('app_register')}}" class="btn btn-secondary">
											<i class="fab fa-android mr-2"></i>
											Register Now.</a>
									</div>
								</div>
								<div class="col-md-6 carousel-img-wrapper">
									<img src="{{asset('/images/pic1.jpg')}}" alt="carousel-img" class="img-fluid" width="350px">
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="row">
								<div class="col-md-6 carousel-content-wrapper">
									<h1>Project Managment System</h1>
									<p>A Project Managment System That Automates the Project Allocation to Student.</p>
									<div class="carousel-content-btns">
										<a href="#!" class="btn btn-success">
											<i class="fas fa-info mr-2"></i>
											Get Started</a>
										<a href="{{path('app_register')}}" class="btn btn-secondary">
											<i class="fab fa-android mr-2"></i>
											Register Now.</a>
									</div>
								</div>
								<div class="col-md-6 carousel-img-wrapper">
									<img src="{{asset('/images/pic2.jpg')}}" alt="carousel-img" class="img-fluid" width="350px">
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="row">
								<div class="col-md-6 carousel-content-wrapper">
									<h1>Project Allotment System</h1>
									<p>A Project Managment System That Automates the Project Allocation to Student.</p>
									<div class="carousel-content-btns">
										<a href="#!" class="btn btn-success">
											<i class="fas fa-info mr-2"></i>
											Get Started</a>
										<a href="{{path('app_register')}}" class="btn btn-secondary">
											<i class="fab fa-android mr-2"></i>
											Register Now.</a>
									</div>
								</div>
								<div class="col-md-6 carousel-img-wrapper">
									<img src="{{asset('/images/pic3.jpg')}}" alt="carousel-img" class="img-fluid" width="350px">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<main>
		<section class="edica-landing-section edica-landing-about">
			<div class="container">
				<div class="row">
					<div class="col-md-6" data-aos="fade-up-right">
						<h4 class="edica-landing-section-subtitle-alt">ABOUT US</h4>
						<h2 class="edica-landing-section-title">Project Allotment System</h2>
						<p>We are a project allotment system designed to efficiently assign tasks and projects to individuals or teams, ensuring optimal resource allocation and effective collaboration.</p>
						<ul class="landing-about-list">
							<li>Powerful and flexible theme</li>
							<li>Project Allotment Features Through Teacher, Technologies, Self </li>
						</ul>
					</div>
					<div class="col-md-6" data-aos="fade-up-left">
						<img src="{{asset('images/about-goal.png')}}" width="468px" alt="about" class="img-fluid">
					</div>
				</div>
			</div>
		</section>
		
	</main>
	<section class="edica-footer-banner-section">
		<div class="container">
			<div class="footer-banner" data-aos="fade-up">
				<h1 class="banner-title">Use it now.</h1>
				<div class="banner-btns-wrapper">
					<button class="btn btn-success">
						Get Started</button>
					<button class="btn btn-success">
						Register Now.</button>
				</div>
				<p class="banner-text">Get Register To Use Project Managment System
					<br>
					product or service.</p>
			</div>
		</div>
	</section>
{% endblock %}
