{% extends 'base.html.twig' %}


{% block title %}Hello
{% endblock %}
{% block navone %}
	<a class="nav-link" href="{{path('app_teacher_logout')}}">Logout</a>
{% endblock %}
{% block navtwo %}{% endblock %}
{% block teacherpanel %}{% endblock %}
{% block body %}
	{# card #}
	<div class="container">
		<div class="card">
			<div class="row mt-5">
				<div class="col-sm-3">
					<img class="card-img-top p-2 mt-3 " src="{{asset('uploads/profile.jpg')}}" alt="Card image" style="width: 400px;">
					<div class="card-body">
						<h4 class="card-title">{{app.user.name}}</h4>
						<p class="card-text">Teacher</p>
						<a href="{{path('app_teacher_project_add')}}" class="btn btn-primary">Create A Project</a>
					</div>
				</div>
				<div class="col-sm-6 my-auto mx-auto">
        <h1> projects</h1>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th>Assisgned To</th>
							</tr>
						</thead>
						<tbody>
								{% for project in projects %}
							<tr>
                <td>{{project.Name}}</td>
                {% if project.User.Name is defined %}
								<td>{{project.User.Name}}</td>
                {% else %}
                  <td>Not Assisgned</td>
                {% endif %}
                
							</tr>
              {% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
