{% extends 'base.html.twig' %}


{% block title %}Hello
{% endblock %}
{% block navone %}
	<a class="nav-link" href="{{path('app_teacher_logout')}}">Logout</a>
{% endblock %}
{% block navtwo %}{% endblock %}
{% block teacherpanel %}{% endblock %}
{% block body %}
	<div class="m-4">
		<ul class="nav nav-tabs" id="myTab">
			<li class="nav-item">
				<a href={{path('app_teacher')}} class="nav-link">Home</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link active">My Projects</a>
			</li>
			<li class="nav-item">
				<a href={{path('app_teacher_project_approve')}} class="nav-link">Approval List</a>
			</li>
		</ul>

		<main>
			<div class="container">
				<div class="row">
					<div class="col-lg-11 mx-auto">
						<section class="edica-coming-soon py-5 mb-5">
							<div class="row">
								<div class="col-md-12">
									<h2>My Projects</h2>
									<div class="row justify-content-center">
										<div class="col-12 mt-2">
											<div class="card border-0 shadow rounded-3 overflow-hidden">
												<div class="card-body p-0">
													<div class="table-responsive">
														<table class="table table-borderless mb-0">
															<thead>
																<tr>
																	<th scope="col">Project</th>
																	<th scope="col">Project Description</th>
																	<th scope="col">Assigned To</th>
																	<th scope="col">Project Status</th>
																</tr>
															</thead>
															<tbody>
																{% for project in projects %}
																	<tr>
																		<td>{{project.Name}}</td>
																		<td>{{project.Description}}</td>
																		{% if project.User.Name is defined %}
																			<td>{{project.User.Name}}</td>
																		{% else %}
																			<td>Not Assisgned</td>
																		{% endif %}
																		{% if (project.Approved) %}
																			<td>Approved</td>
																		{% else %}
																			<td>Not Approved</td>
																		{% endif %}

																	</tr>
																{% endfor %}


															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>
		</main>

	</div>
{% endblock %}
