{% extends 'base.html.twig' %}

{% block title %}Hello
{% endblock %}
{% block navone %}
	<li class="nav-item">
		<a class="nav-link" href="{{path('app_logout')}}">
			<span class="fa fa-sign-in"></span>
			Logout</a>
	</li>

{% endblock %}
{% block navtwo %}{% endblock %}
{% block teacherpanel %}{% endblock %}

{% block body %}
	{# flash messages #}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	{# card #}
	<main>
		<div class="container">
			<div class="row">
				<div class="col-lg-11 mx-auto">
					<section class="edica-coming-soon py-5 mb-5">
						<div class="row">
							<div class="col col-lg-12 mb-4 mb-lg-0">
								<section class="py-5">
									<div class="container px-5">
										<div class="card mb-3" style="border-radius: .5rem;">
											<div class="row g-0">
												<div class="col-md-4 gradient-custom text-center text-dark" style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
													<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp" alt="Avatar" class="img-fluid my-5" style="width: 80px;"/>
													<h5>{{app.User.Name}}</h5>
													<p>Student</p>
													<a class="stretched-link text-decoration-none" href="{{path('app_project')}}"><br><br>
														Assign A Project
													<i class="far fa-edit mb-5"></i>
													</a>
												</div>
												<div class="col-md-8">
													<div class="card-body p-4">
														<h6>Information</h6>
														<hr class="mt-0 mb-4">
														<div class="row pt-1">
															<div class="col-6 mb-3">
																<h6>Email</h6>
																<p class="text-muted">{{app.User.Email}}</p>
															</div>
															<div class="col-6 mb-3">
																<h6>Phone</h6>
																<p class="text-muted">{{app.User.Phone}}</p>
															</div>
														</div>
														{% if app.user.Project %}
															<h6>Project</h6>
															<hr class="mt-0 mb-4">
															<div class="row pt-1">
																<div class="col-6 mb-3">
																	<h6>Name</h6>
																	<p class="text-muted">app.user.Project.Name</p>
																</div>
																<div class="col-6 mb-3">
																	<h6>Status</h6>
																	{% if app.user.Project.Approved %}
																		<p class="text-muted">Approved</p>
																	{% else %}
																		<p class="text-muted">Not Approved</p>
																	{% endif %}
																</div>
															</div>
														{% else %}
															<h6>Project</h6>
															<hr class="mt-0 mb-4">
															<div class="row pt-1">
																<div class="col-6 mb-3">
																	<h6>Name</h6>
																	<p class="text-muted">...</p>
																</div>
																<div class="col-6 mb-3">
																	<h6>Status</h6>
																	<p class="text-muted">...</p>
																</div>
															</div>
														{% endif %}
													</div>
												</div>
											</div>
										</div>
									</div>

								</section>
							</div>
						</div>
					</section>

				</div>
			</div>
		</div>
	</main>
{% endblock %}
