{% extends 'base.html.twig' %}

{% block title %}Hello ProjectRegistrationController!
{% endblock %}
{% block navone %}
	<a class="nav-link" href="{{path('app_dashboard')}}">Back</a>
{% endblock %}
{% block navtwo %}
	<a class="nav-link" href="{{path('app_logout')}}">Logout</a>
{% endblock %}

{% block body %}

	<main class="blog">
		<div class="container">
			<h1 class="edica-page-title" data-aos="fade-up">Choose Project Way</h1>
			<section class="featured-posts-section">
				<div class="row">
					<div class="col-md-4 fetured-post blog-post" data-aos="fade-right">
						<div class="card mb-5 mb-xl-0">
									<div class="card-body p-5">
										<div class="mb-3">
											<span class="h1 fw-bold">Teacher</span>
										</div>
										<ul class="list-unstyled mb-4">
											<li class="mb-2">
												<i class="bi bi-check text-primary"></i>
												<strong>Select On The Basis Of Teacher</strong>
											</li>
											<li class="mb-2">
												<i class="bi bi-check text-primary"></i>
												Yes You Can Select on the basis of Teacher
											</li>
											<li class="mb-2">
												<i class="bi bi-check text-primary"></i>
												Basically The Teacher Has Uploaded Some Projects And You Can Assign
											</li>
											<li class="mb-2">
												<i class="bi bi-check text-primary"></i>
												By Choosing First You Will Select The Project And Then The Teacher Will Approve.
											</li>
											<li class="mb-2">
												<i class="bi bi-check text-primary"></i>
												Then It Will Assigned To You..
											</li>
	
										</ul>
										<div class="d-grid">
											<a class="btn btn-outline-primary" href={{path('app_project_select',{slug: 'teacher'} )}}>Choose plan</a>
										</div>
									</div>
								</div>
					</div>
					<div class="col-md-4 fetured-post blog-post" data-aos="fade-up">
						<div class="card mb-5 mb-xl-0">
									<div class="card-body p-5">
										<div class="mb-3">
											<span class="h1 fw-bold">Technology</span>
										</div>
										<ul class="list-unstyled mb-4">
											<li class="mb-2">
												<i class="bi bi-check text-primary"></i>
												<strong>Select On The Basis Of Teacher</strong>
											</li>
											<li class="mb-2">
												<i class="bi bi-check text-primary"></i>
												Yes You Can Select on the basis of Teacher
											</li>
											<li class="mb-2">
												<i class="bi bi-check text-primary"></i>
												Basically The Teacher Has Uploaded Some Projects And You Can Assign
											</li>
											<li class="mb-2">
												<i class="bi bi-check text-primary"></i>
												By Choosing First You Will Select The Project And Then The Teacher Will Approve.
											</li>
											<li class="mb-2">
												<i class="bi bi-check text-primary"></i>
												Then It Will Assigned To You..
											</li>
	
										</ul>
										<div class="d-grid">
											<a class="btn btn-outline-primary" href={{path('app_project_select',{slug: 'technology'} )}}>Choose plan</a>
										</div>
									</div>
								</div>
					</div>
					<div class="col-md-4 fetured-post blog-post" data-aos="fade-left">
						<div class="card mb-5 mb-xl-0">
									<div class="card-body p-5">
										<div class="mb-3">
											<span class="h1 fw-bold">Self</span>
										</div>
										<ul class="list-unstyled mb-4">
											<li class="mb-2">
												<i class="bi bi-check text-primary"></i>
												<strong>Select On The Basis Of Teacher</strong>
											</li>
											<li class="mb-2">
												<i class="bi bi-check text-primary"></i>
												Yes You Can Select on the basis of Teacher
											</li>
											<li class="mb-2">
												<i class="bi bi-check text-primary"></i>
												Basically The Teacher Has Uploaded Some Projects And You Can Assign
											</li>
											<li class="mb-2">
												<i class="bi bi-check text-primary"></i>
												By Choosing First You Will Select The Project And Then The Teacher Will Approve.
											</li>
											<li class="mb-2">
												<i class="bi bi-check text-primary"></i>
												Then It Will Assigned To You..
											</li>
	
										</ul>
										<div class="d-grid">
											<a class="btn btn-outline-primary" href={{path('app_project_select',{slug: 'self'} )}}>Choose plan</a>
										</div>
									</div>
								</div>
					</div>
				</div>
			</section>

		</div>

	</main>
	
{% endblock %}
